/*
font-family: 'Azeret Mono', monospace;
font-family: 'JetBrains Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");


html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    margin: 0px 150px;
}

.hr {
  border: 0;
  height: 1px;
  background: rgb(253, 253, 253);
  background-image: linear-gradient(to right, rgb(96, 122, 158), #00f2ff, rgb(96, 122, 158));
 
}

li{
    list-style: none;
}

.logo a{
  background: none;
}

a, .popup {
    color: inherit;
    text-decoration: none;
    padding-bottom: 5px;
  }
  
  a, .popup{
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 1.5px, 0 1.5px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  a:hover, .popup:hover{
    background-size: 0 1.5px, 100% 1.5px;
    color: rgb(70, 70, 70);
  }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.menu {
    display: flex;
    
}

h3.logo{
    font-size: 14px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 100;
}

li.menu-element {
    margin: 0px 30px;
    font-size: 18px;
    text-align: center;
    scroll-behavior: smooth;
}

.main-title h3 {
    font-size: 100px;
    margin: 0;
}



.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    padding: 30px;
}


section#container {
    padding: 80px 0px;
}

article.main-title {

    /*border-bottom: 5px dotted rgb(234, 234, 234); */
    padding-bottom: 120px;
}


/* About */
section#about {
    display: flex;
    align-items: center;
    padding: 100px 0px;
}

section#about h3{
    font-size: 100px;
    margin: 0;
}

article.text-about {        
    padding: 50px;
}

.animate-charcter {
    letter-spacing: 2px;
    background-image: linear-gradient(
    -225deg,
    #136aff 0%,
    #06fef5 29%,
    #0099ff 100%,
    #136aff 67%
  );

  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-size: 12px;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  /*** responsive 
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  ***/



  /* LINES */

.img-character-default{
  display:none;
  visibility: hidden;}
.img-character-down-left{
  display:none;
  visibility: hidden;}
.img-character-left{
  display:none;
  visibility: hidden;}
.img-character-up-left{
  display:none;
  visibility: hidden;}
.img-character-up{display:none;
  visibility: hidden;}
.img-character-up-right{display:none;
  visibility: hidden;}
.img-character-right{display:none;
  visibility: hidden;}
.img-character-down-right{
  display:none;
  visibility: hidden;}
.img-character-down{
  display:none;
  visibility: hidden;}

  /* mouse tracking */

:root {
	--x: 0.5;
	--y: 0.5;
}

.container, .tracker {
	position: absolute;
}

.container {
	width: 200px;
	height: 200px;
	top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #333;
}

.tracker {
	width: 10px;
	height: 10px;
  left: 0;
  top: 0;
	background: red;
	border-radius: 1000px;
	transform: translate(calc(-50% + 200px * var(--x)), calc(-50% + 200px * var(--y)));
  transition: transform 0.1s;
}





#eye {
  position: absolute;
  /* transform: translate(-50%,-50%); */
  transform: translate(155%,-120%);
  height: 70px;
  width: 70px;
  border-radius: 99%;
  overflow: hidden;
  box-shadow: 0 0 30px 1px #ffffff;
  border: 5px solid #a8d7ff;
}


#eyeBall{
    position: absolute;
    top:100%;
    left:100%;
    height: 200px;
    width:200px;
    /*transform: translate(-50%,-50%);*/
    transform: translate(-50%,-50%);
    /*background:rgba(0, 0, 0, 0.094);*/
    transition:0;
    background: url(src/vision_.png);
    background-size: contain;
    background-repeat: no-repeat;

}


